<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>I am the Client page</title>

    <!-- layout framework (independent) - https://bulma.io/documentation/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    
    <nav class="navbar is-size-1 has-text-black is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-start">
            FreeCycle
        </div>
        <a class="navbar-item has-text-black">
            About
        </a>
        <a class="navbar-item has-text-black">
            Docs
        </a>
        <a class="navbar-item has-text-black">
            Report Issue
        </a>
      </nav>
</head>

<body class="has-background-black">
    <!-- https://stackoverflow.com/questions/47682110/bulma-icon-not-showing-up -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <script type="importmap">
        {
            "imports":
            {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
            }
        }
    </script>
    
    <div id="app">
        <div class="mx-6">
            <h2 class="subtitle is-2 has-text-primary">Create</h2>
            
            <form @submit.prevent="postForm">
                <div class="field">
                    <div class="control">
                        <input class="input is-success is-rounded" v-model="item.user_id" name="user_id" type="user_id" placeholder="UserID" rows="1">
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <input class="input is-success is-rounded" v-model="item.lat" name="lat" placeholder="Latitude" rows="1">
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                    <input class="input is-success is-rounded" v-model="item.lon" name="lon" placeholder="Longitude" rows="1">
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <input class="input is-success is-rounded" v-model="item.image" name="image" placeholder="Image URL" rows="1">
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <input class="input is-success is-rounded" v-model="item.keywords" name="keywords" placeholder="Keywords" rows="1">
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <textarea class="textarea is-success is-rounded" v-model="item.description " name="description" placeholder="Description" rows="5"></textarea>
                    </div>
                </div>
                
                <button class="button is-medium is-success is-outlined is-rounded ">
                    <!-- ✔ Save -->
                    <span class="icon is-small">
                        <i class="fas fa-check"></i>
                      </span>
                      <span>Save</span>
                    </button>
            </form>

            <hr>

            <h2 class="subtitle is-2 has-text-primary">Items</h2>

            <ul>
                <li v-for="item of list">

                    <figure class="image is-128x128">
                        <img class="is-rounded" :src="item.image">
                    </figure>
                    
                    <div class="brick has-text-primary">
                        <span data-field="id"> {{item.id}} </span>
                    </div>

                    <div class="brick has-text-primary">
                        <span data-field="user_id"> {{item.user_id}} </span>
                    </div>
                    <div class="brick has-text-primary">
                        <span data-field="lat"> {{item.lat}} </span>
                    </div>

                    <div class="brick has-text-primary">
                        <span data-field="lon"> {{item.lon}} </span>
                    </div>
                    <div class="brick has-text-primary">
                        <span data-field="keywords"> {{item.keywords}} </span>
                    </div>

                    <div class="brick has-text-primary">
                        <span data-field="description"> {{item.description}} </span>
                    </div>

                    <br>

                    <button class="button is-medium is-danger is-outlined is-rounded" @click="deleteItem(item.id)">
                        <!-- ✖ Delete -->
                        <span>Delete</span>
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>

                    <br>
                    <hr>
                </li>
            </ul>
            <footer class="footer has-background-primary">
                <div class="content has-text-centered">
                  <p>
                    Using Bulma Layout Framework. By <strong>Jason Young.</strong> Code attained from
                    <a href="https://bulma.io/documentation/layout/footer/">Bulma Documentation</a>.
                  </p>
                </div>
              </footer>
        </div>
    </div>

      <script type="module">
        const urlParams = new URLSearchParams(window.location.search);
        const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');

        import { createApp } from 'vue'
        createApp(
          {
            data() {return {
                message: 'Hello Vue!',
                item: {user_id: '', lat: '', lon: '', image: '', keywords: '', description: ''},
                list: [1,2,3],
                }},

                created() 
                {
                    this.clearForm()
                    this.getItems()
                },
                
                methods:
                {
                    clearForm()
                    {
                        console.log("Cleared the Form")
                        this.item.image = ''
                        this.item.user_id = ''
                        this.item.lat = ''
                        this.item.lon = ''
                        this.item.keywords = ''
                        this.item.description = ''
                    },

                    postForm() {
                        fetch(`${urlAPI}/item`, {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify(this.item),
                        })
                        .then(response => response.json())
                        .then(json => console.log('POST!', json))
                        .then(() => this.clearForm())
                        .then(() => this.getItems())
                        .catch(err => console.error(err));
                        },
            
                    getItems() 
                    {
                        fetch(`${urlAPI}/items`,
                        {
                            method: 'GET',
                        })
                        
                        .then(response => response.json())
                        .then(json =>
                        {
                            console.log("get", json)
                            this.list = [...json]
                        })
                        
                        .catch(err => console.error(err))
                    },
            
                    deleteItem(user_id)
                    {
                        fetch(`${urlAPI}/item/${user_id}`,
                        {
                            method: 'DELETE',
                        })
                        
                        .then(json => console.log('delete', json))
                        .then(() => this.getItems())
                        .catch(err => console.error(err));
                    },
                }
        }).mount('#app')
    </script>
</body>
</html>